body {
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    margin: 0px;
    place-items: center;
}

h1 {
    height: 90vh;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(3rem, 3vw, 8rem);
    padding: clamp(0.25rem, 0vw, 1rem) 3rem;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    } 
    
    to {
        background-position: -200% center;
    }
}

h1 > .effect {
    --purple: rgb(158, 20, 223);
    --violet: rgb(129, 43, 199);
    --blue: rgb(63, 46, 223);
    --pink: rgb(206, 59, 132);
    
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--blue),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    animation: background-pan 4s reverse infinite;
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}